
<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}"  can-swipe="listCanSwipe" class="animate-fade-slide-in">

        <div class="ion-item card-item card stable-bg ink ink-dark card-footer " ng-repeat="activity in activities|filter:customFilter">
            <span class="avatar" style="background-image: url('img/task.jpg');">
                <button  ng-click="newTask()" class="button button-fab button-fab-top-right expanded button-energized-900 flap"><i class="icon ion-plus"></i></button>



            </span>
            <div class="item item-avatar item-text-wrap">


                <strong>Task: </strong>{{activity.activity}}
                <br><strong>Nota: </strong> {{activity.nota}}
                <br><strong>ultima ripetizione: </strong>{{activity.lastTime}}
                <br> <strong>prossima ripetizione: </strong>{{activity.nextTime}}
                <br> <strong>Ripetizioni:</strong> {{activity.rep}}
                <!--ion-option-button class="button-light icon ion-heart"></ion-option-button>
                <ion-option-button-- class="button-assertive icon ion-trash-a"></ion-option-button-->

            </div>
            </div>
    </ion-content>
</ion-view>
