
<ion-view view-title="Activity">
    <ion-content ng-class="{expanded:isExpanded}"   >
        <ion-list can-swipe="true">
        <div class="{{itemClass('ion-item item-remove-animate card-item card  ink ink-dark  ',activity.key)}}" ng-class="{{itemBackground(activity.key)}} " ng-repeat="activity in activities|filter:customFilter">

            <ion-item ng-click="view(activity.key)">

                <ion-option-button class="button    button-balanced-900"ng-click="done(activity.key)"><i class="icon ion-ios-checkmark"></i></ion-option-button>
                <ion-option-button class="button  button-assertive-900" ng-click="deleteTask(activity.key)"><i class="icon ion-trash-a"></i></ion-option-button>


                <strong>Task: </strong>{{activity.activity}}
                <br><strong>Nota: </strong> {{activity.nota}}
                <br><strong>ultima ripetizione: </strong>{{activity.lastTime}}
                <br> <strong>prossima ripetizione: </strong>{{activity.nextTime}}
                <br> <strong>Ripetizioni:</strong> {{activity.rep}}

            </ion-item>
            </div>

        </ion-list>
    </ion-content>

</ion-view>
