<ion-view view-title="Login" align-title="left">
    <ion-content style="background: url(img/login.jpg) center; background-size: cover;">
        <div class="hero no-header flat">
            <div class="content">
                <div class="app-icon"></div>
                <h1>Autenticati</h1>
            </div>
        </div>
        <div class="list">
            <form name ="loginForm">
            <ion-md-input placeholder="email"  highlight-color="balanced" type="email" ng-model="loginData.email" required></ion-md-input>
            <ion-md-input placeholder="Password" highlight-color="energized" type="password" ng-model="loginData.password" required></ion-md-input><p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="help-block">Enter a valid email.</p>
            </form>
        </div>
        <div class="padding">
            <button ui-sref="app.profile" class="button button-full button-royal ink"  ng-click="doLogin()">Login</button>
        </div>
        <div class="button-bar social-login">
            <button class="button button-small button-border icon-left ion-social-google button-assertive-900">Google+</button>
            <button class="button button-small button-border icon-left ion-social-twitter button-calm-900">Twitter</button>
            <button class="button button-small button-border icon-left ion-social-facebook button-positive-900">Facebook</button>
        </div>
    </ion-content>
</ion-view>
