<ion-modal-view>
  <ion-header-bar>
    <h1 class="title">Task</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeModal()">Close</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <form >
      <div class="list">
        <label class="item item-input">
          <span class="input-label">Attività</span>
          <input type="text" ng-model="task.activity">
        </label>
        <label class="item item-input">
          <span class="input-label">Nota</span>
          <input type="text" ng-model="task.nota">
        </label>
        <div id = "recalls" class="energetic">
          <label class ="item">Recalls</label>

          <input  placeholder="nuovo recall" style =".input-label{
color:#000;}" ng-keyPress=" keypress($event)" highlight-color="balanced" type="text" ng-model="task.recall" />
            <i class=" ion-plus-circled" ng-click="addRecall()"></i>
          <p ngShow="noRecalls(task)">non  sono stati definiti recalls {{noRecals(task)}} </p>
          <ion-list can-swipe="true">
            <ion-item ng-repeat="recall in task.recalls track by $index">
              <p> {{recall.recall}}</p>
                <ion-option-button class="button  button-assertive-900" ng-click="deleteRecall($index)"><i class="icon ion-trash-a"></i></ion-option-button>
            </ion-item>
          </ion-list>
        </div>
        <div id="ripassi">
        <label class ="item">Date Ripassi</label>
        <ion-list>
          <ion-item ng-repeat="rep in task.history track by $index">
            <ion-option-button class="button-light icon ion-heart"></ion-option-button>
            <p> {{rep}}</p>
          </ion-item>
        </ion-list>
        </div>

		</label>
        <label class="item">
          <button class="button button-block button-positive" ng-keyPress="keypress()" ng-click="doAction()">{{action}}</button>
        </label>
      </div>
    </form>
  </ion-content>
</ion-modal-view>